<a href="https://colab.research.google.com/github/durodolahabib043/MLRepo/blob/master/Tokenization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import spacy

In [0]:
nlp = spacy.load('en_core_web_sm')

In [0]:
doc = nlp(u'Teasla is looking to buy U.S. startup for $6 million')

In [8]:
for token in doc:

  print(token.text , token.pos_)

Teasla PROPN
is VERB
looking VERB
to PART
buy VERB
U.S. PROPN
startup NOUN
for ADP
$ SYM
6 NUM
million NUM

In [9]:
nlp.pipeline

[('tagger', <spacy.pipeline.pipes.Tagger at 0x7f1b1e87a7b8>),
 ('parser', <spacy.pipeline.pipes.DependencyParser at 0x7f1ab438b888>),
 ('ner', <spacy.pipeline.pipes.EntityRecognizer at 0x7f1ab438b8e8>)]

In [0]:
myString = '"We\'re moving to L.A. !"'

In [11]:
myString

'"We\'re moving to L.A. !"'

In [12]:
print(myString)

"We're moving to L.A. !"

In [13]:
doc = nlp(myString)

for token in doc : 
  print(token.text)

"
We
're
moving
to
L.A.
!
"

In [0]:
doc1 = nlp(u'Apple to build Hong Kong factory for $ 6 million')

In [15]:
for token in doc1 : 
  print(token.text)

Apple
to
build
Hong
Kong
factory
for
$
6
million

In [18]:
for entity in doc1.ents : 
  print(entity)
  print(entity.label_)

  print("\n")

Apple
ORG


Hong Kong
GPE


$ 6 million
MONEY